@model Tutor_Finder.Models.LanguageDto

@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Are you sure you want to delete this Language?</h2>
<a href="/Language/List">Cancel</a>
<h3>Name: @Model.LanguageName</h3>
<p>Language Description: @Model.LanguageDescription</p>
<form action="/Language/Delete/@Model.LanguageID" method="POST">
    <input type="submit" value="Confirm Delete" />
</form>
