@model Tutor_Finder.Models.ViewModels.LanguageDetails

@if (Session["isAdmin"].ToString() == "true")
{
    <a href="/Language/List">Go back to list</a>
    <li><a href="/Language/Edit/@Model.Language.LanguageID">Update</a></li>
    <li><a style="color:#ab2020;" href="/Language/DeleteConfirm/@Model.Language.LanguageID">Delete</a></li>
}


@{
    ViewBag.Title = "View";
}
<h2>Language @Model.Language.LanguageName</h2>




<div class="row">
    <div>

        <div>Language Description: @Model.Language.LanguageDescription</div>
    </div>
    <div>
        <h3>Tutors related to @(Model.Language.LanguageName)</h3>
        <ul>

            @foreach (var tutor in Model.RelatedTutors)
            {
                <li>
                    <a href="/Tutor/Details/@tutor.TutorID">@tutor.TutorFirstName</a>
                </li>
            }

        </ul>
    </div>
</div>