@model Tutor_Finder.Models.LanguageDto

@{
    ViewBag.Title = "Edit";
}
<li><a href="/Language/List">Go back to list</a></li>
<li><a style="color:#ab2020;" href="/Language/DeleteConfirm/@Model.LanguageID">Delete</a></li>


<h2>Update Language</h2>
<form action="/Language/Update/@Model.LanguageID" method="POST">
    <div style="display:none;">
        <input type="text" name="LanguageId" value="@Model.LanguageID" />
    </div>
    <div>
        <label>Language Name:</label> <input type="text" name="LanguageName" value="@Model.LanguageName" />
    </div>
    <div>
        <div>
            <label>Language Description:</label> <input type="text" name="LanguageDescription" value="@Model.LanguageDescription" />
        </div>
    </div>
    <div>
        <input type="submit" value="Update Language" />

    </div>
</form>