@model Tutor_Finder.Models.LanguageDto

@{
    ViewBag.Title = "Edit";
}
<nav>
    <ul>
        <li><a href="/Tutor/List">Tutor</a></li>
        <li><a href="/Language/List">Language</a></li>
        <li><a href="/Student/List">Student</a></li>
        <li><a href="/Tutor/LoginAdmin">Logout</a></li>
    </ul>
</nav>
<br />
<div><a href="/Language/DeleteConfirm/@Model.LanguageID">Delete</a></div>


<h2>Update Language</h2>
<form action="/Language/Update/@Model.LanguageID" method="POST">
    <div style="display:none;">
        <input type="text" name="LanguageId" value="@Model.LanguageID" />
    </div>
    <div>
        <label>Language Name:</label> <input type="text" name="LanguageName" value="@Model.LanguageName" />
    </div>
    <div>
        <div>
            <label>Language Description:</label> <input type="text" name="LanguageDescription" value="@Model.LanguageDescription" />
        </div>
    </div>
    <div>
        <input type="submit" value="Update Language" />

    </div>
</form>