@{
    ViewBag.Title = "Create";
}

<a href="/Language/List">Go back to list</a>

<h2>Add Language</h2>
<form action="/Language/Create" method="POST">
    <div>
        <label>Name:</label> <input type="text" name="LanguageName" />
    </div>
    <div>
        <label>Description:</label>
        <input type="Text" name="LanguageDescription" />
    </div>
    <div>
        <input type="submit" value="Add Language" />

    </div>
</form>