@model Tutor_Finder.Models.TutorDTO

@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Are you sure you want to delete this Tutor?</h2>
<nav>
    <ul>
        <li><a href="/Tutor/List">Cancel</a></li>
        <li><a href="/Tutor/Edit/@Model.TutorID">Update</a></li>
    </ul>
</nav>
<h3>@Model.TutorFirstName</h3>
<div>Description: @Model.TutorLastName kg</div>
<div>Language Name: @Model.TutorLastName</div>
<form action="/Tutor/Delete/@Model.TutorID" method="POST">
    <input type="submit" value="Confirm Delete" />
</form>