@model IEnumerable<Tutor_Finder.Models.TutorDTO>
@{
    ViewBag.Title = "List";
}
<h2>List</h2>
<div><a href="/Tutor/New">New Tutor</a></div>

@foreach (var Tutor in Model)
{
    <h2><a href="/Tutor/Details/@Tutor.TutorID">@Tutor.TutorFirstName</a></h2>
    <div>Tutor Firstname: @Tutor.TutorFirstName</div>
    <div>Tutor Lastname: @Tutor.TutorLastName</div>


}