
@{
    ViewBag.Title = "LoginAdmin";
}

<h2>Login As an Admin</h2>

<form action="/Tutor/List" method="POST">
    <div>
        <label>Email ID:</label> <input type="text" name="AdminEmailID" />
    </div>
    <div>
        <label>Password:</label> <input type="text" name="AdminPassword" />
    </div>
    <div>
        <input type="submit" value="Login" />

    </div>
    
</form>


