@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hey, Humber Web Dev Students!</h1>
    <p class="lead">Facing difficulty in any courses?</p>
    <p class="lead">Need help in finding a Tutor for yourself?</p>
    <p class="lead">We got it all here!</p>
    <p><a href="Student/LoginStudent" class="btn btn-primary btn-lg">Login as a Student &raquo;</a></p>
</div>

<div class="row">
    <div class="tutor-mainpage">
        <h2>Are you a Tutor?</h2>
        <p><a class="btn btn-default" href="Tutor/LoginTutor">Login as a Tutor &raquo;</a></p>
        <br />
        <p><a class="btn btn-default admin-btn" href="Tutor/LoginAdmin">Login as an Admin &raquo;</a></p>
    </div>
</div>