@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tutor Finder</h1>
    <p class="lead">It is an online platform that connects students with qualified tutors to facilitate learning in various languages and academic levels.</p>
    <p><a href="/Home/RegisterTutor" class="btn btn-primary btn-lg">Are you a Tutor? &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Are you a Student?</h2>
        <p>
            It will make the process of finding and hiring a tutor easier.
        </p>
        <p><a class="btn btn-default" href="/Home/RegisterStudent">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        </div>
    <div class="col-md-4"></div>
</div>