
@{
    ViewBag.Title = "RegisterTutor";
}

<h2>Register Tutor</h2>

<form action="/Tutor/Create" method="POST">
    <div>
        <label>First Name:</label> <input type="text" name="TutorFirstName" />
    </div>
    <div>
        <label>Last Name:</label> <input type="text" name="TutorLastName" />
    </div>
    <div>
        <label>Description (Style of Tutoring):</label> <input type="text" name="TutorDescription" />
    </div>
    <div>
        <label>Email ID:</label> <input type="text" name="EmailID" />
    </div>
    <div>
        <label>Password:</label> <input type="text" name="Password" />
    </div>
    <div>
        <label>Contact Number:</label> <input type="text" name="ContactNumber" />
    </div>
    <div>
        <label>Social Media:</label> <input type="text" name="SocialMedia" />
    </div>
    <div>
        <input type="submit" value="Add Tutor" />

    </div>
    <div>
        <p>Already a User?</p>
    </div>
    <div>
        <input type="submit" value="Login" />

    </div>
</form>
