@model Tutor_Finder.Models.StudentDto

@{
    ViewBag.Title = "DeleteConfirm";
}

<nav>
    <ul>
        <li><a href="/Tutor/List">Tutor</a></li>
        <li><a href="/Language/List">Language</a></li>
        <li><a href="/Student/List">Student</a></li>
        <li><a href="/Tutor/LoginAdmin">Logout</a></li>
    </ul>
</nav>
<br />
<div><a href="/Student/List">Cancel</a></div>

<h2>Are you sure you want to delete this Student?</h2>

<h3>Name: @Model.StudentFirstName </h3>
<form action="/Student/Delete/@Model.StudentID" method="POST">
    <input type="submit" value="Confirm Delete" />
</form>