@model Tutor_Finder.Models.StudentDto

@{
    ViewBag.Title = "Edit";
}
<li><a href="/Student/List">Go back to list</a></li>
<li><a style="color:#ab2020;" href="/Student/DeleteConfirm/@Model.StudentID">Delete</a></li>


<h2>Update Student</h2>
<form action="/Student/Update/@Model.StudentID" method="POST">
    <div style="display:none;">
        <input type="text" name="StudentId" value="@Model.StudentID" />
    </div>
    <div>
        <label>Student Name:</label> <input type="text" name="StudentName" value="@Model.StudentID" />
    </div>
    <div>
        <label>Student Description:</label> <input type="text" name="StudentDescription" value="@Model.StudentID" />
    </div>

    <div>
        <input type="submit" value="Update Student" />

    </div>
</form>