@{
    ViewBag.Title = "Create";
}

<a href="/Student/List">Go back to list</a>
<h2>Add Student</h2>
<form action="/Student/Create" method="POST">
    <div>
        <label>Student First Name:</label> <input type="text" name="StudentFirstName" />
    </div>
    <div>
        <label>Student Last Name:</label> <input type="text" name="StudentLastName" />
    </div>
    <div>
        <input type="submit" value="Add Student" />

    </div>
</form>